legacy-peer-deps=true
optional=false
omit=optional
ignore-scripts=true
no-optional=true
platform=linux
arch=x64
node-linker=hoisted
package-lock=false

# Force use of WASM rollup
rollup:platform=neutral
rollup:arch=neutral
